div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid green;
    display: inline-block;
}
#box1{
position: static;
top: 50px;
left: 50px;
}
#box2{
position: relative;
top: 10px;
left: 20px;
}
#box3{
position: sticky;
top: 50px;

}
#box4{
    position: fixed;
    top: 100px;
    left: 100px;
}
#box5{
    position:absolute;
    top:200px;

}
